In [1]:
import pandas as pd
#!pip install nsepy
from nsepy import get_history
from datetime import date

NIFTY SMLCAP 100
NIFTY SMLCAP 250
NIFTY SMLCAP 50
NIFTY MIDCAP 150
NIFTY 50
NIFTY NEXT 50
NIFTY FMCG
BERGEPAINT
BHARATFORG
BHEL
BOSCHLTD
BPCL
CHOLAFIN
CADILAHC
ADANIENT
COALINDIA
CUMMINSIND
DIVISLAB
EICHERMOT
ESCORTS
CIPLA
GAIL
GLENMARK
GODREJCP
DABUR
GODREJPROP
GRASIM
ADANIPORTS
HAVELLS
ASIANPAINT
BANDHANBNK
AXISBANK
HDFC
HDFCBANK

In [ ]:
# Extract Index Data
symbol = ['NIFTY SMLCAP 100','NIFTY SMLCAP 250','NIFTY SMLCAP 50','NIFTY MIDCAP 150','NIFTY 50','NIFTY NEXT 50','NIFTY FMCG']

data1=[]
data1 = pd.DataFrame(data1)
for x in symbol:
    data = get_history(symbol=x, start=date(2019,1,1), end=date(2020,12,31), index = True)
    data = pd.DataFrame(data)
    data['Index_Name'] = x
    data1 = pd.concat([data1,data])
    print(x)

# Save Index Data
data1.to_csv('Index_Data_2020.csv', index=True)

# Extract Company Data
symbol =  ['BERGEPAINT','BHARATFORG','BHEL','BOSCHLTD','BPCL','CHOLAFIN','CADILAHC','ADANIENT','COALINDIA','CUMMINSIND','DIVISLAB','EICHERMOT','ESCORTS','CIPLA','GAIL','GLENMARK','GODREJCP','DABUR','GODREJPROP','GRASIM','ADANIPORTS','HAVELLS','ASIANPAINT','BANDHANBNK','AXISBANK','HDFC','HDFCBANK']


counter = 0
for x in symbol:
    data1=[]
    data1 = pd.DataFrame(data1)
    name=x+'.csv'
    data = get_history(symbol=x, start=date(2015,10,6), end=date(2021,3,26))
    data = pd.DataFrame(data)
    data1 = pd.concat([data1,data])
    print(x)
    data1.columns=['Symbol', 'Series', 'Prev Close', 'Open', 'High', 'Low', 'Last',
       'Price', 'VWAP', 'Volume', 'Turnover', 'Trades', 'Deliverable Volume',
       '%Deliverble']
    data1.to_csv(name, index=True)
    
    
# Save Company Data

In [3]:
df=pd.read_csv('HDFC.csv')
df

,Date,Symbol,Series,Prev Close,Open,High,Low,Last,Price,VWAP,Volume,Turnover,Trades,Deliverable Volume,%Deliverble
0,2015-10-06,HDFC,EQ,1256.95,1268.00,1271.00,1238.35,1261.00,1265.20,1255.26,3144090,3.946639e+14,113277,2174239,0.6915
1,2015-10-07,HDFC,EQ,1265.20,1258.00,1280.00,1258.00,1275.00,1277.45,1271.85,1507689,1.917553e+14,88947,989092,0.6560
2,2015-10-08,HDFC,EQ,1277.45,1278.50,1279.80,1258.45,1277.00,1278.10,1269.73,1314118,1.668577e+14,46808,788136,0.5997
3,2015-10-09,HDFC,EQ,1278.10,1286.00,1299.00,1275.40,1283.35,1291.70,1288.67,2002920,2.581111e+14,79897,1392008,0.6950
4,2015-10-12,HDFC,EQ,1291.70,1292.00,1295.35,1261.95,1272.00,1270.25,1273.43,1610929,2.051403e+14,67635,783315,0.4863
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1351,2021-03-22,HDFC,EQ,2531.65,2530.10,2547.35,2485.00,2536.20,2531.85,2516.21,3367784,8.474065e+14,118982,1871941,0.5558
1352,2021-03-23,HDFC,EQ,2531.85,2531.00,2541.35,2492.10,2512.30,2509.90,2512.86,3980896,1.000342e+15,170520,2450626,0.6156
1353,2021-03-24,HDFC,EQ,2509.90,2484.85,2503.50,2446.70,2465.00,2465.75,2470.25,3165420,7.819375e+14,146395,1600981,0.5058
1354,2021-03-25,HDFC,EQ,2465.75,2488.00,2491.60,2431.10,2478.00,2470.75,2456.22,4759214,1.168968e+15,196107,2734430,0.5746
1355,2021-03-26,HDFC,EQ,2470.75,2506.75,2548.00,2491.20,2529.00,2532.75,2524.28,3272534,8.260786e+14,144477,1739269,0.5315