In [1]:
import numpy as np 
import pandas as pd 
import yfinance as yf
import datetime
import math
from math import isnan
from datetime import date
from datetime import timedelta
from ta.trend import SMAIndicator
import warnings
warnings.filterwarnings('ignore')

In [2]:
def Add_Indicators(Data):
    
    SMA100 = SMAIndicator(close = Data["Close"], window = 100, fillna = True)
    SMA200 = SMAIndicator(close = Data["Close"], window = 200, fillna = True)
    
    Data["SMA100"] = SMA100.sma_indicator()
    Data["SMA200"] = SMA200.sma_indicator()

    return Data

In [3]:
#Getting the list of tickers
df = pd.read_csv('Nifty_100.csv', header= 0)
Tickers = df["Symbol"]
Tickers = Tickers.astype(str) + ".NS"
Tickers = list(Tickers)

In [4]:
#Start Date for the analysis
start_date = "2020-01-01"
today = datetime.datetime.today()

In [5]:
#Downloading Data
Data = yf.download(Tickers, start=start_date, period="1d", interval= "1wk", threads =True, group_by = "ticker")
Nifty100 = yf.download("^CNX100", start=start_date, period="1d", interval= "1d", threads =True, group_by = "ticker")

[*********************100%***********************]  100 of 100 completed
[*********************100%***********************]  1 of 1 completed

In [6]:
Data

           TORNTPHARM.NS                                                      \
                    Open         High          Low        Close    Adj Close
Date
2019-12-30   1854.900024  1919.800049  1840.050049  1900.099976  1861.541504
2020-01-06   1905.000000  1912.000000  1853.599976  1899.050049  1860.512939
2020-01-13   1907.000000  2028.000000  1870.250000  2006.349976  1965.635498
2020-01-20   2006.349976  2073.649902  1985.550049  2036.949951  1995.614624
2020-01-23           NaN          NaN          NaN          NaN          NaN
...                  ...          ...          ...          ...          ...
2021-08-05           NaN          NaN          NaN          NaN          NaN
2021-08-09   3119.000000  3119.000000  2854.000000  2963.750000  2963.750000
2021-08-11           NaN          NaN          NaN          NaN          NaN
2021-08-12           NaN          NaN          NaN          NaN          NaN
2021-08-13   2911.000000  2973.550049  2854.000000  2963.750000  2963.750000

                      YESBANK.NS                                   ...  \
               Volume       Open       High        Low      Close  ...
Date                                                               ...
2019-12-30   613428.0  46.950001  48.500000  46.400002  47.099998  ...
2020-01-06   698189.0  46.750000  48.500000  43.799999  44.750000  ...
2020-01-13  1962285.0  43.400002  43.900002  36.549999  39.250000  ...
2020-01-20  2272538.0  39.500000  45.000000  38.000000  42.799999  ...
2020-01-23        NaN        NaN        NaN        NaN        NaN  ...
...               ...        ...        ...        ...        ...  ...
2021-08-05        NaN        NaN        NaN        NaN        NaN  ...
2021-08-09  1611070.0  12.600000  12.950000  11.850000  11.900000  ...
2021-08-11        NaN        NaN        NaN        NaN        NaN  ...
2021-08-12        NaN        NaN        NaN        NaN        NaN  ...
2021-08-13   237644.0  12.000000  12.050000  11.850000  11.900000  ...

           HINDALCO.NS                                     MCDOWELL-N.NS  \
                   Low       Close   Adj Close      Volume          Open
Date
2019-12-30  213.199997  216.449997  213.867249  28982292.0    601.000000
2020-01-06  204.500000  211.500000  208.976318  49512759.0    581.250000
2020-01-13  208.149994  210.050003  207.543625  39824780.0    588.000000
2020-01-20  202.250000  205.399994  202.949081  26036779.0    583.000000
2020-01-23         NaN         NaN         NaN         NaN           NaN
...                ...         ...         ...         ...           ...
2021-08-05         NaN         NaN         NaN         NaN           NaN
2021-08-09  423.250000  442.049988  439.012878  65129094.0    648.500000
2021-08-11         NaN         NaN         NaN         NaN           NaN
2021-08-12         NaN         NaN         NaN         NaN           NaN
2021-08-13  435.500000  442.049988  442.049988  13338794.0    662.900024


                  High         Low       Close   Adj Close     Volume
Date
2019-12-30  602.700012  580.099976  583.049988  583.049988  2001149.0
2020-01-06  596.349976  557.500000  586.099976  586.099976  8375137.0
2020-01-13  592.200012  574.549988  581.849976  581.849976  4047458.0
2020-01-20  590.750000  570.200012  578.099976  578.099976  6032672.0
2020-01-23         NaN         NaN         NaN         NaN        NaN
...                ...         ...         ...         ...        ...
2021-08-05         NaN         NaN         NaN         NaN        NaN
2021-08-09  666.000000  629.700012  660.500000  660.500000  6771715.0
2021-08-11         NaN         NaN         NaN         NaN        NaN
2021-08-12         NaN         NaN         NaN         NaN        NaN
2021-08-13  666.000000  657.049988  660.500000  660.500000  1678158.0

[179 rows x 600 columns]

In [7]:
Data["SBIN.NS"].isnull().Open.sum()

93

In [8]:
#Dropping Excess Entries from the weekly dataframe
Drop_List = np.array([])
i = 0
while(i < Data.shape[0]-2):
    if(Data.index[i+1] != Data.index[i] + timedelta(days =7)):
        Data = Data.drop(Data.index[i+1], axis = 0)
        continue
    i = i + 1

In [9]:
Data

           TORNTPHARM.NS                                                      \
                    Open         High          Low        Close    Adj Close
Date
2019-12-30   1854.900024  1919.800049  1840.050049  1900.099976  1861.541504
2020-01-06   1905.000000  1912.000000  1853.599976  1899.050049  1860.512939
2020-01-13   1907.000000  2028.000000  1870.250000  2006.349976  1965.635498
2020-01-20   2006.349976  2073.649902  1985.550049  2036.949951  1995.614624
2020-01-27   2036.949951  2055.949951  1882.150024  1907.449951  1868.742432
...                  ...          ...          ...          ...          ...
2021-07-19   2985.000000  3069.000000  2945.000000  3043.199951  3043.199951
2021-07-26   3045.000000  3144.000000  2888.000000  3071.100098  3071.100098
2021-08-02   3088.000000  3131.300049  3033.000000  3063.949951  3063.949951
2021-08-09   3119.000000  3119.000000  2854.000000  2963.750000  2963.750000
2021-08-13   2911.000000  2973.550049  2854.000000  2963.750000  2963.750000

                      YESBANK.NS                                   ...  \
               Volume       Open       High        Low      Close  ...
Date                                                               ...
2019-12-30   613428.0  46.950001  48.500000  46.400002  47.099998  ...
2020-01-06   698189.0  46.750000  48.500000  43.799999  44.750000  ...
2020-01-13  1962285.0  43.400002  43.900002  36.549999  39.250000  ...
2020-01-20  2272538.0  39.500000  45.000000  38.000000  42.799999  ...
2020-01-27  3514341.0  42.299999  43.450001  37.599998  37.900002  ...
...               ...        ...        ...        ...        ...  ...
2021-07-19   587747.0  13.300000  13.350000  12.900000  13.050000  ...
2021-07-26  1902052.0  13.800000  14.100000  12.700000  12.750000  ...
2021-08-02   480353.0  12.850000  12.900000  12.300000  12.500000  ...
2021-08-09  1611070.0  12.600000  12.950000  11.850000  11.900000  ...
2021-08-13   237644.0  12.000000  12.050000  11.850000  11.900000  ...

           HINDALCO.NS                                      MCDOWELL-N.NS  \
                   Low       Close   Adj Close       Volume          Open
Date
2019-12-30  213.199997  216.449997  213.867249   28982292.0    601.000000
2020-01-06  204.500000  211.500000  208.976318   49512759.0    581.250000
2020-01-13  208.149994  210.050003  207.543625   39824780.0    588.000000
2020-01-20  202.250000  205.399994  202.949081   26036779.0    583.000000
2020-01-27  182.800003  184.399994  182.199677   41712490.0    575.000000
...                ...         ...         ...          ...           ...
2021-07-19  381.200012  391.750000  389.058472   27521313.0    666.799988
2021-07-26  390.200012  444.799988  441.743988  122500919.0    690.000000
2021-08-02  432.899994  442.149994  439.112213   55035056.0    647.000000
2021-08-09  423.250000  442.049988  439.012878   65129094.0    648.500000
2021-08-13  435.500000  442.049988  442.049988   13338794.0    662.900024


                  High         Low       Close   Adj Close      Volume
Date
2019-12-30  602.700012  580.099976  583.049988  583.049988   2001149.0
2020-01-06  596.349976  557.500000  586.099976  586.099976   8375137.0
2020-01-13  592.200012  574.549988  581.849976  581.849976   4047458.0
2020-01-20  590.750000  570.200012  578.099976  578.099976   6032672.0
2020-01-27  663.299988  572.650024  622.849976  622.849976  46542607.0
...                ...         ...         ...         ...         ...
2021-07-19  688.400024  649.299988  683.450012  683.450012   8309086.0
2021-07-26  690.000000  629.099976  640.750000  640.750000   9457557.0
2021-08-02  667.000000  636.000000  647.849976  647.849976   4769688.0
2021-08-09  666.000000  629.700012  660.500000  660.500000   6771715.0
2021-08-13  666.000000  657.049988  660.500000  660.500000   1678158.0

[86 rows x 600 columns]

In [10]:
Data["SBIN.NS"].isnull().Open.sum()

0

In [11]:
stock = np.array([])
empty = np.array([])
for i in Tickers:
    empty = np.append(empty,Data[i].isnull().Close.sum())
    stock = np.append(stock, i)
new_row = {"Stock" : stock, "Empty_Values" : empty}   
Null = pd.DataFrame(new_row)

In [12]:
Null[Null.Empty_Values > 0].count()

Stock           2
Empty_Values    2
dtype: int64

In [13]:
#Stocks with Missing Data.
Null[Null.Empty_Values > 0]

         Stock  Empty_Values
34    GLAND.NS          46.0
80  SBICARD.NS          11.0

In [15]:
#Dropping stocks with missing values greater than 300
Drop_List = list(Null[Null.Empty_Values > 0].Stock.unique())
Data = Data.drop(Drop_List, axis= 1)

for i in range(len(Drop_List)):
    Tickers.remove(Drop_List[i])
    
#Number of stocks left after cleaning
len(Tickers)

98

In [17]:

i = 0

#Code to make period of dataframe = 2 weeks
while(i <= Data.shape[0] - 3):
    Data = Data.drop(Data.index[i+1], axis = 0)
    i = i + 1

#Code to make period of dataframe = 3 weeks  
#while(i <= Data.shape[0] - 2):
#    Data = Data.drop(Data.index[i+1], axis = 0)
#    Data = Data.drop(Data.index[i+1], axis = 0)
#    i = i + 1

Data = Data.drop(Data.index[0], axis = 0)

In [19]:
#Make PCT Change Data Frame
PCT = pd.DataFrame(columns = Tickers)
#Add 2/3 Weeks Percent Change Data 
for ticker in Tickers:
    six_month_change = np.array([])
    for i in range(len(Data) - 12 ,len(Data)):
        six_month_change = np.append(six_month_change, (Data[ticker]["Close"][i] - Data[ticker]["Close"][i-11])/Data[ticker]["Close"][i]  )
    PCT[ticker] = six_month_change
PCT.index = Data.index[len(Data) - 12:]    
Data = Data[len(Data) - 12:]

In [22]:
#Nifty100 = Add_Indicators(Nifty100)
#Nifty100

In [24]:
j = -1
val = PCT.iloc[j,:].values
names = PCT.columns
top10 = dict()
for i in range(len(names)):
    top10[names[i]] = val[i]
top10 = sorted(top10.items(), key=lambda item: item[1], reverse = True)


stocks = np.array([])
pct_change = np.array([]) 
close = np.array([])
date = np.array([])
for i in range(len(top10)):
    stocks = np.append(stocks, top10[i][0])
    pct_change = np.append(pct_change, top10[i][1])
    close   =  np.append(close, Data[top10[i][0]]["Close"][j])
    date = np.append(date, Data[top10[i][0]].index[j])


#Make 2 Dataframes final and total final, final has only top 15 stocks of the week and total final has all the stocks
final = {"Date" : date, "Stock": stocks, "PCT": pct_change, "Close" : close}
final = pd.DataFrame(final)
Total_Final = final.dropna().reset_index(drop = True)
final = final.dropna()[:15].reset_index(drop = True)

In [25]:
Total_Final

         Date          Stock       PCT         Close
0  2021-08-13   TATASTEEL.NS  0.475353   1461.650024
1  2021-08-13    JSWSTEEL.NS  0.405647    749.049988
2  2021-08-13  ICICIPRULI.NS  0.358579    671.400024
3  2021-08-13       WIPRO.NS  0.343786    615.500000
4  2021-08-13  BAJAJFINSV.NS  0.338750  14317.500000
..        ...            ...       ...           ...
93 2021-08-13  AUROPHARMA.NS -0.116577    761.299988
94 2021-08-13  INDUSTOWER.NS -0.123888    213.500000
95 2021-08-13  BANDHANBNK.NS -0.177312    293.549988
96 2021-08-13     YESBANK.NS -0.180672     11.900000
97 2021-08-13  ADANIGREEN.NS -0.319062    919.099976

[98 rows x 4 columns]

In [27]:
final

         Date          Stock       PCT         Close
0  2021-08-13   TATASTEEL.NS  0.475353   1461.650024
1  2021-08-13    JSWSTEEL.NS  0.405647    749.049988
2  2021-08-13  ICICIPRULI.NS  0.358579    671.400024
3  2021-08-13       WIPRO.NS  0.343786    615.500000
4  2021-08-13  BAJAJFINSV.NS  0.338750  14317.500000
5  2021-08-13         PEL.NS  0.337829   2724.899902
6  2021-08-13    ADANIENT.NS  0.312248   1437.000000
7  2021-08-13        VEDL.NS  0.309752    328.649994
8  2021-08-13    DIVISLAB.NS  0.299826   4948.700195
9  2021-08-13  APOLLOHOSP.NS  0.298319   4064.100098
10 2021-08-13       TECHM.NS  0.283520   1383.150024
11 2021-08-13    GODREJCP.NS  0.277651    983.250000
12 2021-08-13       ALKEM.NS  0.275408   3657.300049
13 2021-08-13   AMBUJACEM.NS  0.267238    402.450012
14 2021-08-13        NMDC.NS  0.262009    171.750000